@import "tailwindcss";

* {
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d0d0d;
  color: #f0ece6;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}
.font-syne {
  font-family: "Syne", sans-serif;
}
.font-outfit {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #ff4d00;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff4d00 !important;
  background: #1c1c1c;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  border-color: #ff4d00;
  cursor: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  cursor: none;
}
